@use '../../../styles/variables' as *;

.footerContainer {
    background-color: $primary-bg; 
    padding: 2.5rem 0;
    border-top: 1.5px solid $border-color;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: $dark-text;
}

.footerWrapper {
    padding: 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footerLinks a {
    text-decoration: none;
    color: $dark-text;
    transition: color 0.3s ease;
    &:hover {
        color: $button-hover-darken;
    }
}

@media (max-width: 992px) {
    .footerContainer {
        font-size: 0.85rem;
    }
    .footerWrapper {
        padding: 0 3rem;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 792px) {
    .footerLinks {
        flex-direction: column;
        gap: 10px;
    }
    .footerContainer {
        padding: 1.5rem 0
    }
}

@media (max-width: 692px) {
    .footerWrapper {
        padding: 0 3rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }
    .footerLinks {
        flex-direction: row;
        gap: 2rem;
    }
}