$primary-bg: #ece7e2;
$primary-bg-hover: #f5f5f5;
$primary-green: #4a7766;
$accent-green: #6c9e8d;
$card-bg: #fff;
$light-text: #fff;
$dark-text: #333;
$gray-text: #a0a0a0;
$gray-text-darken: #555;
$border-color: #ddd;
$red-negative: #e74c3c;
$red-negative-light: #FDACAC;
$green-positive: #28a745;
$button-hover-darken: #3e6256;
$button-hover-lighten: #7ab29f;